video {
  display: none;
}

div.main {
  margin: 55px 90px 15px 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.handtrack {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
