body {
  background-color: #240D51;
  background-image: url("../image/background.svg");
}

video {
  display: none;
}

div#message {
  color: aliceblue;
}

div.pong {
  text-align: center;
}

div.main {
  margin: 55px 90px 15px 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: right;
  color: #fff;
}

div.handtrack {
  margin: 20px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
